body{
    background-color: #a9d7e9;
}
h2{
    text-align: center ;
    
}
form{
    background-color: #f3f3f3; 
    padding: 10px; 
    margin: 80px;
    border-radius: 30px;
    margin-left: 60px;
    margin-right: 60px;
    padding-left: 40px;
}
div{
    label{ 
        

    }
}